<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>Admin Tool</title>

   <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
   <script src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
   <script src="https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://cdn.datatables.net/1.10.12/css/dataTables.bootstrap.min.css" />

</head>
<body>
<th:block th:include="fragments/block-heading"/>

<div class="container">

    <h1>Board Write</h1>

    <form>
        <table id="boardForm" class="table table-bordered table-hover">
            <tr>
                <td>작성자</td>
                <td>
                    <span sec:authentication="principal.username"/> <span sec:authentication="principal.authorities"/>
                    <input type="hidden" name="sec:authentication='principal.username'" value="">
                </td>
            </tr>
            <tr>
                <td>제목</td>
                <td><input name="title" class="form-control"></td>
            </tr>
            <tr>
                <td>내용</td>
                <td><textarea class="form-control" rows="3"></textarea> </td>
            </tr>
        </table>
        <div><button class="btn btn-primary" type="submit">글 작성</button></div>
    </form>

</div>
</body>
</html>

